<a href="https://colab.research.google.com/github/Voland24/Videogame-Price-prediction-via-ML/blob/main/SIAP_Projekat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# steamspy

import requests, pprint, json
games_arr = []
for i in range(61):
  url = (f'https://steamspy.com/api.php?request=all&page={i}')
  response = requests.get(url)
  payload = response.json()
  games_arr.append(payload)

games_arr = [game_dict[key] for game_dict in games_arr for key in game_dict]

print(len(games_arr))
print(games_arr[0])

with open('/content/steamspy_all.json', 'w') as file:
  json.dump(games_arr, file)

In [ ]:
# GETTING IGDB DATASET

import requests, pprint, json

GAME_MODE_DICT = {1: "Single player", 2: "Multiplayer", 3: "Co-operative", 4: "Split screen", 5: "Massively Multiplayer Online (MMO)", 6: "Battle Royale"}
PLAYER_PERSPECTIVE_DICT = {1: "First person", 2: "Third person", 3: "Bird view / Isometric", 4: "Side view", 5: "Text", 6: "Auditory", 7: "Virtual Reality"}
THEME_DICT = {20: "Thriller", 18: "Science fiction", 1: "Action", 19: "Horror", 21: "Survival", 17: "Fantasy", 22: "Historical", 23: "Stealh", 27: "Comedy", 28: "Business"}

# GETTING NAMES OF GAMES
dataframe_games = pd.read_csv("./content/Video_Games_newer_all_data.csv")
video_games_names = dataframe_games["Name"].dropna().unique()

GETTING INFO FOR EVEY GAME
num_of_games_in_req = 10
num_of_games_names = len(video_games_names)

list_of_games = []

for i in range(0, num_of_games_names, num_of_games_in_req):
    start_idx = i
    end_idx = i + num_of_games_in_req if i + num_of_games_in_req <= num_of_games_names else num_of_games_names
    game_names_in_req = video_games_names[start_idx:end_idx]
    
    games_list = '"' + '", "'.join(game_names_in_req) + '"'
    
    url = 'https://api.igdb.com/v4/games'
    payload = 'fields name, game_modes, player_perspectives, themes, summary, storyline, hypes, aggregated_rating, aggregated_rating_count, total_rating, total_rating_count, genres, videos; where name=(' + games_list + ');'
    headers = {'content-type': 'text/plain', 'Client-ID': 'w6a7ydf9sj5ehzjk7e2pr1nqbb2ia1', 'Authorization': 'Bearer ymc50rdkx1svmpq36z69lxe65t8n0j'}
    r = requests.post(url, data=payload.encode(), headers=headers)
    list_of_games.extend(r.json())

print(len(list_of_games))
print(list_of_games[0])
with open('./content/igdb_games_data.json', 'w') as file:
  json.dump(list_of_games, file)

In [ ]:
# GETTING VIDEO_IDS OF GAMES
dataframe_games_data = pd.read_json("./content/igdb_games_data.json")

num_of_games_in_req = 10
num_of_games = len(dataframe_games_data)

list_of_games_w_videos = []

for i in range(0, num_of_games, num_of_games_in_req):
    start_idx = i
    end_idx = i + num_of_games_in_req if i + num_of_games_in_req <= num_of_games else num_of_games
    id_list = dataframe_games_data.loc[start_idx:end_idx]["id"].to_numpy()
    
    games_list = ', '.join(id_list.astype(str))
    
    url = 'https://api.igdb.com/v4/game_videos'
    payload = 'fields *; where game=(' + games_list + ');'
    headers = {'content-type': 'text/plain', 'Client-ID': 'w6a7ydf9sj5ehzjk7e2pr1nqbb2ia1', 'Authorization': 'Bearer ymc50rdkx1svmpq36z69lxe65t8n0j'}
    r = requests.post(url, data=payload.encode(), headers=headers)
    list_of_games_w_videos.extend(r.json())

print(len(list_of_games_w_videos))
print(list_of_games_w_videos[0])
with open('./content/igdb_games_video_data.json', 'w') as file:
  json.dump(list_of_games_w_videos, file)

In [ ]:
# GETTING DATA FORM RAWG API

import pandas as pd
import requests
import json

dataframe_games = pd.read_csv("./content/Video_Games_newer_all_data.csv")
video_games_names = dataframe_games["Name"].dropna().unique()

key1 = "0f1420d45bec43688581950dcff2bda3"

found_games = []
not_found_games = []  # ovde cu probati manuelno slug da smislim

i = 0

for game_name in video_games_names:
    url = 'https://api.rawg.io/api/games'
    
    try:
        r = requests.get(url, params={'key': key1, 'search': game_name, 'search_exact': 'true'})
        
        found_result = None
        for res in r.json()['results']:
            if res["name"] == game_name:
                found_result = res
                break

        if found_result:
            found_games.append(found_result)
        else:
            not_found_games.append(game_name)

        i += 1

        if i % 1000 == 0 and i != 0:
            print("Done with 1000")
    
    except:
        print("Error with game " + game_name)
        continue


print(len(found_games))
print(len(not_found_games))
with open('./content/rawg_games_base_data.json', 'w') as file:
  json.dump(found_games, file)
with open('./content/rawg_games_not_found_by_name_base_data.json', 'w') as file:
  json.dump(not_found_games, file)

In [ ]:
# GETTING GAMES DETAILS FROM RAW_G
import pandas as pd
import requests
import json

dataframe_games = pd.read_json("./content/rawg_games_base_data.json")
video_games_slugs = dataframe_games["slug"].dropna().unique()

key1 = "0f1420d45bec43688581950dcff2bda3"

found_games_details = []

i = 0

for game_slug in video_games_slugs:
    url = 'https://api.rawg.io/api/games/' + game_slug
    
    try:
        r = requests.get(url, params={'key': key1})
        
        found_result = r.json()
        
        found_games_details.append(found_result)
        
        i += 1

        if i % 1000 == 0 and i != 0:
            print("Done with 1000")
    
    except:
        print("Error with game " + game_slug)
        continue


print(len(found_games_details))
with open('./content/rawg_games_details_data_1.json', 'w') as file:
  json.dump(found_games_details, file)

In [4]:
# GETTING GAMES DETAILS FROM RAW_G FOR NOT FOUND BY NAME
import pandas as pd
import requests
import json
import string
import numpy
import re

def convert_to_slug(game_name):
    slug_name = game_name.translate(str.maketrans('', '', string.punctuation)) # remove punctuation
    slug_name = re.sub(' +', '-', slug_name).lower() # removoe multiple spaces, and replace them with -
    return slug_name

key1 = "41bcbaf5d84f42b19e8022dd653b051d"
json_file = open("./content/rawg_games_not_found_by_name_base_data.json")
video_game_names = json.load(json_file)

found_games_details = []
not_found_games_details = []

slugged = [convert_to_slug(i) for i in video_game_names]

i = 0

for game_slug in slugged:
    url = 'https://api.rawg.io/api/games/' + game_slug
    
    try:
        r = requests.get(url, params={'key': key1})
        
        if r.status_code != 200:
            not_found_games_details.append(game_slug)
            continue
        
        found_result = r.json()
        
        found_games_details.append(found_result)
        
        i += 1

        if i % 1000 == 0 and i != 0:
            print("Done with 1000")
    
    except:
        not_found_games_details.append(game_slug)
        print("Error with game " + game_slug)
        continue

print(len(found_games_details))
print(len(not_found_games_details))
with open('./content/rawg_games_details_data_2.json', 'w') as file:
  json.dump(found_games_details, file)
with open('./content/rawg_games_details_not_found.json', 'w') as file:
  json.dump(not_found_games_details, file)

Done with 1000
1774
3749

In [56]:
import pandas as pd
import requests
import json
import string
import re

def convert_to_slug(game_name):
    slug_name = str(game_name).translate(str.maketrans('', '', string.punctuation)) # remove punctuation
    slug_name = re.sub(' +', '-', slug_name).lower() # removoe multiple spaces, and replace them with -
    return slug_name

dataframe_games = pd.read_csv("./content/Video_Games_newer_all_data.csv")
dataframe_games = dataframe_games.drop(columns=["Critic_Score", "Critic_Count", "User_Count", "Rating"])

mask = dataframe_games.notnull()
dataframe_games = dataframe_games.where(mask).dropna()

dataframe_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9804 entries, 0 to 16710
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             9804 non-null   object
 1   Platform         9804 non-null   object
 2   Year_of_Release  9804 non-null   float64
 3   Genre            9804 non-null   object
 4   Publisher        9804 non-null   object
 5   NA_Sales         9804 non-null   float64
 6   EU_Sales         9804 non-null   float64
 7   JP_Sales         9804 non-null   float64
 8   Other_Sales      9804 non-null   float64
 9   Global_Sales     9804 non-null   float64
 10  User_Score       9804 non-null   object
 11  Developer        9804 non-null   object
dtypes: float64(6), object(6)
memory usage: 995.7+ KB

In [57]:
dataframe_games["slug-nas"] = [convert_to_slug(i) for i in dataframe_games["Name"]]
dataframe_games["Platform"] = dataframe_games["Platform"].astype(str)
dataframe_games["Name"] = dataframe_games["Name"].astype(str)
dataframe_games["User_Score"] = dataframe_games["User_Score"].apply(pd.to_numeric, errors='coerce', downcast='float')

mask = dataframe_games.notnull()
dataframe_games = dataframe_games.where(mask).dropna()

dataframe_games_agg_dict = {}
for i in dataframe_games.columns:
    if i in ["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]:
        dataframe_games_agg_dict[i] = 'sum'
    elif i == "User_Score":
        dataframe_games_agg_dict[i] = 'mean'
    elif i == 'Platform':
        dataframe_games_agg_dict[i] = list
    elif i != "Name":
        dataframe_games_agg_dict[i] = 'first'

dataframe_games = dataframe_games.groupby("Name").agg(dataframe_games_agg_dict).reset_index()
print(dataframe_games.head(5))
print(len(dataframe_games))

                      Name Platform  Year_of_Release         Genre  \
0        Tales of Xillia 2    [PS3]           2012.0  Role-Playing
1  .hack//Infection Part 1    [PS2]           2002.0  Role-Playing
2   .hack//Mutation Part 2    [PS2]           2002.0  Role-Playing
3   .hack//Outbreak Part 3    [PS2]           2002.0  Role-Playing
4               007 Racing     [PS]           2000.0        Racing

            Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0  Namco Bandai Games      0.20      0.12      0.45         0.07
1               Atari      0.49      0.38      0.26         0.13
2               Atari      0.23      0.18      0.20         0.06
3               Atari      0.14      0.11      0.17         0.04
4     Electronic Arts      0.30      0.20      0.00         0.03

   Global_Sales  User_Score           Developer              slug-nas
0          0.84         7.9  Bandai Namco Games    -tales-of-xillia-2
1          1.27         8.5       CyberConnect2  hackinfection-part-1
2          0.68         8.9       CyberConnect2   hackmutation-part-2
3          0.46         8.7       CyberConnect2   hackoutbreak-part-3
4          0.53         4.6           Eutechnyx            007-racing
4645

In [58]:
df_rawg_1 = pd.read_json("./content/rawg_games_details_data_1.json")
df_rawg_2 = pd.read_json("./content/rawg_games_details_data_2.json")
print(len(df_rawg_1))
print(len(df_rawg_2))

5870
1774

In [59]:
df_rawg_1 = df_rawg_1.drop(columns= ['metacritic', 'background_image', 'background_image_additional', 'reactions', 
                                     'user_game', 'esrb_rating', 'clip', 'community_rating'])
mask = df_rawg_1.notnull()
df_rawg_1 = df_rawg_1.where(mask).dropna()


df_rawg_2 = df_rawg_2.drop(columns= ['metacritic', 'background_image', 'background_image_additional', 'reactions', 
                                     'user_game', 'esrb_rating', 'clip', 'community_rating', 'redirect'])
mask = df_rawg_2.notnull()
df_rawg_2 = df_rawg_2.where(mask).dropna()

df_rawg_1.info()
df_rawg_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5245 entries, 0 to 5869
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5245 non-null   int64
 1   slug                       5245 non-null   object
 2   name                       5245 non-null   object
 3   name_original              5245 non-null   object
 4   description                5245 non-null   object
 5   metacritic_platforms       5245 non-null   object
 6   released                   5245 non-null   object
 7   tba                        5245 non-null   bool
 8   updated                    5245 non-null   object
 9   website                    5245 non-null   object
 10  rating                     5245 non-null   float64
 11  rating_top                 5245 non-null   int64
 12  ratings                    5245 non-null   object
 13  added                      5245 non-null   int64
 14  added_by_status            5245 non-null   object
 15  playtime                   5245 non-null   int64
 16  screenshots_count          5245 non-null   int64
 17  movies_count               5245 non-null   int64
 18  creators_count             5245 non-null   int64
 19  achievements_count         5245 non-null   int64
 20  parent_achievements_count  5245 non-null   int64
 21  reddit_url                 5245 non-null   object
 22  reddit_name                5245 non-null   object
 23  reddit_description         5245 non-null   object
 24  reddit_logo                5245 non-null   object
 25  reddit_count               5245 non-null   int64
 26  twitch_count               5245 non-null   int64
 27  youtube_count              5245 non-null   int64
 28  reviews_text_count         5245 non-null   int64
 29  ratings_count              5245 non-null   int64
 30  suggestions_count          5245 non-null   int64
 31  alternative_names          5245 non-null   object
 32  metacritic_url             5245 non-null   object
 33  parents_count              5245 non-null   int64
 34  additions_count            5245 non-null   int64
 35  game_series_count          5245 non-null   int64
 36  reviews_count              5245 non-null   int64
 37  saturated_color            5245 non-null   object
 38  dominant_color             5245 non-null   object
 39  parent_platforms           5245 non-null   object
 40  platforms                  5245 non-null   object
 41  stores                     5245 non-null   object
 42  developers                 5245 non-null   object
 43  genres                     5245 non-null   object
 44  tags                       5245 non-null   object
 45  publishers                 5245 non-null   object
 46  description_raw            5245 non-null   object
dtypes: bool(1), float64(1), int64(19), object(26)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1280 entries, 0 to 1772
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1280 non-null   float64
 1   slug                       1280 non-null   object
 2   name                       1280 non-null   object
 3   name_original              1280 non-null   object
 4   description                1280 non-null   object
 5   metacritic_platforms       1280 non-null   object
 6   released                   1280 non-null   object
 7   tba                        1280 non-null   float64
 8   updated                    1280 non-null   object
 9   website                    1280 non-null   object
 10  rating                     1280 non-null   float64
 11  rating_top                 1280 non-null   float64
 12  ratings                    1280 non-null   object
 13  added                      1280 non-null   float64
 14  added_by_status            1280 non-null   object
 15  playtime                   1280 non-null   float64
 16  screenshots_count          1280 non-null   float64
 17  movies_count               1280 non-null   float64
 18  creators_count             1280 non-null   float64
 19  achievements_count         1280 non-null   float64
 20  parent_achievements_count  1280 non-null   float64
 21  reddit_url                 1280 non-null   object
 22  reddit_name                1280 non-null   object
 23  reddit_description         1280 non-null   object
 24  reddit_logo                1280 non-null   object
 25  reddit_count               1280 non-null   float64
 26  twitch_count               1280 non-null   float64
 27  youtube_count              1280 non-null   float64
 28  reviews_text_count         1280 non-null   float64
 29  ratings_count              1280 non-null   float64
 30  suggestions_count          1280 non-null   float64
 31  alternative_names          1280 non-null   object
 32  metacritic_url             1280 non-null   object
 33  parents_count              1280 non-null   float64
 34  additions_count            1280 non-null   float64
 35  game_series_count          1280 non-null   float64
 36  reviews_count              1280 non-null   float64
 37  saturated_color            1280 non-null   object
 38  dominant_color             1280 non-null   object
 39  parent_platforms           1280 non-null   object
 40  platforms                  1280 non-null   object
 41  stores                     1280 non-null   object
 42  developers                 1280 non-null   object
 43  genres                     1280 non-null   object
 44  tags                       1280 non-null   object
 45  publishers                 1280 non-null   object
 46  description_raw            1280 non-null   object
dtypes: float64(21), object(26)
memory usage: 480.0+ KB

In [60]:
df_base_rawg1_combined = pd.merge(dataframe_games, df_rawg_1, how = 'inner', left_on = "Name", right_on = "name")
df_base_rawg1_combined.info()
print(len(df_base_rawg1_combined))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3086 entries, 0 to 3085
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       3086 non-null   object
 1   Platform                   3086 non-null   object
 2   Year_of_Release            3086 non-null   float64
 3   Genre                      3086 non-null   object
 4   Publisher                  3086 non-null   object
 5   NA_Sales                   3086 non-null   float64
 6   EU_Sales                   3086 non-null   float64
 7   JP_Sales                   3086 non-null   float64
 8   Other_Sales                3086 non-null   float64
 9   Global_Sales               3086 non-null   float64
 10  User_Score                 3086 non-null   float32
 11  Developer                  3086 non-null   object
 12  slug-nas                   3086 non-null   object
 13  id                         3086 non-null   int64
 14  slug                       3086 non-null   object
 15  name                       3086 non-null   object
 16  name_original              3086 non-null   object
 17  description                3086 non-null   object
 18  metacritic_platforms       3086 non-null   object
 19  released                   3086 non-null   object
 20  tba                        3086 non-null   bool
 21  updated                    3086 non-null   object
 22  website                    3086 non-null   object
 23  rating                     3086 non-null   float64
 24  rating_top                 3086 non-null   int64
 25  ratings                    3086 non-null   object
 26  added                      3086 non-null   int64
 27  added_by_status            3086 non-null   object
 28  playtime                   3086 non-null   int64
 29  screenshots_count          3086 non-null   int64
 30  movies_count               3086 non-null   int64
 31  creators_count             3086 non-null   int64
 32  achievements_count         3086 non-null   int64
 33  parent_achievements_count  3086 non-null   int64
 34  reddit_url                 3086 non-null   object
 35  reddit_name                3086 non-null   object
 36  reddit_description         3086 non-null   object
 37  reddit_logo                3086 non-null   object
 38  reddit_count               3086 non-null   int64
 39  twitch_count               3086 non-null   int64
 40  youtube_count              3086 non-null   int64
 41  reviews_text_count         3086 non-null   int64
 42  ratings_count              3086 non-null   int64
 43  suggestions_count          3086 non-null   int64
 44  alternative_names          3086 non-null   object
 45  metacritic_url             3086 non-null   object
 46  parents_count              3086 non-null   int64
 47  additions_count            3086 non-null   int64
 48  game_series_count          3086 non-null   int64
 49  reviews_count              3086 non-null   int64
 50  saturated_color            3086 non-null   object
 51  dominant_color             3086 non-null   object
 52  parent_platforms           3086 non-null   object
 53  platforms                  3086 non-null   object
 54  stores                     3086 non-null   object
 55  developers                 3086 non-null   object
 56  genres                     3086 non-null   object
 57  tags                       3086 non-null   object
 58  publishers                 3086 non-null   object
 59  description_raw            3086 non-null   object
dtypes: bool(1), float32(1), float64(7), int64(19), object(32)
memory usage: 1.4+ MB
3086

In [61]:
df_base_rawg2_combined = pd.merge(dataframe_games, df_rawg_2, how = 'inner', left_on = "slug-nas", right_on = "slug")
df_base_rawg2_combined.info()
print(len(df_base_rawg2_combined))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716 entries, 0 to 715
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       716 non-null    object
 1   Platform                   716 non-null    object
 2   Year_of_Release            716 non-null    float64
 3   Genre                      716 non-null    object
 4   Publisher                  716 non-null    object
 5   NA_Sales                   716 non-null    float64
 6   EU_Sales                   716 non-null    float64
 7   JP_Sales                   716 non-null    float64
 8   Other_Sales                716 non-null    float64
 9   Global_Sales               716 non-null    float64
 10  User_Score                 716 non-null    float32
 11  Developer                  716 non-null    object
 12  slug-nas                   716 non-null    object
 13  id                         716 non-null    float64
 14  slug                       716 non-null    object
 15  name                       716 non-null    object
 16  name_original              716 non-null    object
 17  description                716 non-null    object
 18  metacritic_platforms       716 non-null    object
 19  released                   716 non-null    object
 20  tba                        716 non-null    float64
 21  updated                    716 non-null    object
 22  website                    716 non-null    object
 23  rating                     716 non-null    float64
 24  rating_top                 716 non-null    float64
 25  ratings                    716 non-null    object
 26  added                      716 non-null    float64
 27  added_by_status            716 non-null    object
 28  playtime                   716 non-null    float64
 29  screenshots_count          716 non-null    float64
 30  movies_count               716 non-null    float64
 31  creators_count             716 non-null    float64
 32  achievements_count         716 non-null    float64
 33  parent_achievements_count  716 non-null    float64
 34  reddit_url                 716 non-null    object
 35  reddit_name                716 non-null    object
 36  reddit_description         716 non-null    object
 37  reddit_logo                716 non-null    object
 38  reddit_count               716 non-null    float64
 39  twitch_count               716 non-null    float64
 40  youtube_count              716 non-null    float64
 41  reviews_text_count         716 non-null    float64
 42  ratings_count              716 non-null    float64
 43  suggestions_count          716 non-null    float64
 44  alternative_names          716 non-null    object
 45  metacritic_url             716 non-null    object
 46  parents_count              716 non-null    float64
 47  additions_count            716 non-null    float64
 48  game_series_count          716 non-null    float64
 49  reviews_count              716 non-null    float64
 50  saturated_color            716 non-null    object
 51  dominant_color             716 non-null    object
 52  parent_platforms           716 non-null    object
 53  platforms                  716 non-null    object
 54  stores                     716 non-null    object
 55  developers                 716 non-null    object
 56  genres                     716 non-null    object
 57  tags                       716 non-null    object
 58  publishers                 716 non-null    object
 59  description_raw            716 non-null    object
dtypes: float32(1), float64(27), object(32)
memory usage: 338.4+ KB
716

In [62]:
df_with_rawg = pd.concat([df_base_rawg1_combined, df_base_rawg2_combined])
print(len(df_with_rawg))

3802

In [63]:
df_with_rawg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3802 entries, 0 to 715
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       3802 non-null   object
 1   Platform                   3802 non-null   object
 2   Year_of_Release            3802 non-null   float64
 3   Genre                      3802 non-null   object
 4   Publisher                  3802 non-null   object
 5   NA_Sales                   3802 non-null   float64
 6   EU_Sales                   3802 non-null   float64
 7   JP_Sales                   3802 non-null   float64
 8   Other_Sales                3802 non-null   float64
 9   Global_Sales               3802 non-null   float64
 10  User_Score                 3802 non-null   float32
 11  Developer                  3802 non-null   object
 12  slug-nas                   3802 non-null   object
 13  id                         3802 non-null   float64
 14  slug                       3802 non-null   object
 15  name                       3802 non-null   object
 16  name_original              3802 non-null   object
 17  description                3802 non-null   object
 18  metacritic_platforms       3802 non-null   object
 19  released                   3802 non-null   object
 20  tba                        3802 non-null   object
 21  updated                    3802 non-null   object
 22  website                    3802 non-null   object
 23  rating                     3802 non-null   float64
 24  rating_top                 3802 non-null   float64
 25  ratings                    3802 non-null   object
 26  added                      3802 non-null   float64
 27  added_by_status            3802 non-null   object
 28  playtime                   3802 non-null   float64
 29  screenshots_count          3802 non-null   float64
 30  movies_count               3802 non-null   float64
 31  creators_count             3802 non-null   float64
 32  achievements_count         3802 non-null   float64
 33  parent_achievements_count  3802 non-null   float64
 34  reddit_url                 3802 non-null   object
 35  reddit_name                3802 non-null   object
 36  reddit_description         3802 non-null   object
 37  reddit_logo                3802 non-null   object
 38  reddit_count               3802 non-null   float64
 39  twitch_count               3802 non-null   float64
 40  youtube_count              3802 non-null   float64
 41  reviews_text_count         3802 non-null   float64
 42  ratings_count              3802 non-null   float64
 43  suggestions_count          3802 non-null   float64
 44  alternative_names          3802 non-null   object
 45  metacritic_url             3802 non-null   object
 46  parents_count              3802 non-null   float64
 47  additions_count            3802 non-null   float64
 48  game_series_count          3802 non-null   float64
 49  reviews_count              3802 non-null   float64
 50  saturated_color            3802 non-null   object
 51  dominant_color             3802 non-null   object
 52  parent_platforms           3802 non-null   object
 53  platforms                  3802 non-null   object
 54  stores                     3802 non-null   object
 55  developers                 3802 non-null   object
 56  genres                     3802 non-null   object
 57  tags                       3802 non-null   object
 58  publishers                 3802 non-null   object
 59  description_raw            3802 non-null   object
dtypes: float32(1), float64(26), object(33)
memory usage: 1.8+ MB

In [65]:
df_with_rawg.reset_index(inplace=True)
df_with_rawg.to_json('./content/video_games_newer_all_data_with_rawg_filtered.json')

In [32]:
import pandas as pd

df_with_rawg = pd.read_json('./content/video_games_newer_all_data_with_rawg_filtered.json')

In [33]:
df_with_rawg_for_train = df_with_rawg.drop(columns=[ "Name", "name", "name_original", "index", "slug-nas", "id", "slug", "metacritic_platforms", 
                                                    "released", "tba", "updated", "website", "rating", "rating_top", "ratings",
                                                    "playtime", "movies_count", "creators_count", "parent_achievements_count", "reddit_url",
                                                    "reddit_name", "reddit_description", "reddit_logo", "reviews_text_count",
                                                    "alternative_names", "metacritic_url", "parents_count", "saturated_color",
                                                    "dominant_color", "parent_platforms", "stores", "Platform", "Publisher", "publishers",
                                                   "Developer", "developers", "tags", "added_by_status", "description"])
df_with_rawg_for_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3802 entries, 0 to 3801
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year_of_Release     3802 non-null   int64
 1   Genre               3802 non-null   object
 2   NA_Sales            3802 non-null   float64
 3   EU_Sales            3802 non-null   float64
 4   JP_Sales            3802 non-null   float64
 5   Other_Sales         3802 non-null   float64
 6   Global_Sales        3802 non-null   float64
 7   User_Score          3802 non-null   float64
 8   added               3802 non-null   int64
 9   screenshots_count   3802 non-null   int64
 10  achievements_count  3802 non-null   int64
 11  reddit_count        3802 non-null   int64
 12  twitch_count        3802 non-null   int64
 13  youtube_count       3802 non-null   int64
 14  ratings_count       3802 non-null   int64
 15  suggestions_count   3802 non-null   int64
 16  additions_count     3802 non-null   int64
 17  game_series_count   3802 non-null   int64
 18  reviews_count       3802 non-null   int64
 19  platforms           3802 non-null   object
 20  genres              3802 non-null   object
 21  description_raw     3802 non-null   object
dtypes: float64(6), int64(12), object(4)
memory usage: 683.2+ KB

In [88]:
platforms = df_with_rawg_for_train["platforms"]
j = 0
setic = set()
for i in platforms:
    if len(i) == 0:
        j += 1
    for pt in i:
        setic.add(pt["platform"]["name"])

print(len(setic))
print(j)
print(setic)
#print(df_with_rawg_for_train["Genre"].unique())

# TODO
# ONE HOT ENCODING ZA TO
# genres
# platforms - izbaciti sklj platforme

# brisemo publishere, developere, tags, added by status

48
0
{'Xbox 360', 'SEGA CD', 'Wii', 'SNES', 'Game Gear', 'Web', 'Nintendo DS', 'Xbox', 'Atari 5200', 'PlayStation 3', 'Nintendo 3DS', 'Atari 8-bit', 'Commodore / Amiga', 'Apple II', 'Game Boy Color', 'PlayStation 5', 'Atari 2600', 'SEGA 32X', '3DO', 'iOS', 'PlayStation 2', 'Neo Geo', 'Nintendo Switch', 'Wii U', 'Xbox Series S/X', 'Game Boy Advance', 'SEGA Master System', 'Nintendo DSi', 'Nintendo 64', 'Linux', 'Classic Macintosh', 'PSP', 'Genesis', 'PlayStation', 'macOS', 'PC', 'GameCube', 'Android', 'Jaguar', 'Game Boy', 'Atari 7800', 'PS Vita', 'Dreamcast', 'NES', 'Atari ST', 'PlayStation 4', 'SEGA Saturn', 'Xbox One'}

In [5]:
platforms = df_with_rawg_for_train["genres"]
j = 0
setic = set()
for i in platforms:
    if len(i) == 0:
        j += 1
    for pt in i:
        setic.add(pt["name"])

print(len(setic))
print(j)
print(setic)
print(df_with_rawg_for_train["Genre"].unique())

19
490
{'Adventure', 'Puzzle', 'Educational', 'Family', 'Platformer', 'Racing', 'Casual', 'RPG', 'Shooter', 'Arcade', 'Fighting', 'Card', 'Massively Multiplayer', 'Strategy', 'Sports', 'Board Games', 'Simulation', 'Action', 'Indie'}
['Role-Playing' 'Action' 'Misc' 'Adventure' 'Simulation' 'Racing' 'Sports'
 'Shooter' 'Puzzle' 'Platform' 'Strategy' 'Fighting']

In [34]:
# GENRES
all_genres = df_with_rawg_for_train["genres"]
genre_names = set()

for i in all_genres:
    for pt in i:
        genre_names.add(pt["name"])

genre_names.add("Misc_Genre")

for genre in genre_names:
    df_with_rawg_for_train[genre] = 0

In [35]:
# PLATFORMS
list_of_platforms = ['Xbox 360', 'Wii', 'Nintendo DS', 'Xbox', 'PlayStation 3', 'Nintendo 3DS', 
                     'Game Boy Color', 'PlayStation 5', 'iOS', 'PlayStation 2', 'Nintendo Switch',
                     'Wii U', 'Xbox Series S/X', 'Game Boy Advance', 'Nintendo 64', 'PSP', 'PlayStation',
                     'PC', 'GameCube', 'Android', 'Game Boy','PS Vita', 'NES', 'PlayStation 4', 'Xbox One', 'Misc_Platform'
                    ]

for plat in list_of_platforms:
    df_with_rawg_for_train[plat] = 0

In [36]:
for ind in df_with_rawg_for_train.index:
    platforms = df_with_rawg_for_train.loc[ind, "platforms"]
    
    for plat in platforms:
        if plat["platform"]["name"] in list_of_platforms:
            df_with_rawg_for_train.loc[ind, plat["platform"]["name"]] = 1
        else:
            df_with_rawg_for_train.loc[ind, "Misc_Platform"] += 1

df_with_rawg_for_train.head(5)

,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,User_Score,added,screenshots_count,...,PlayStation,PC,GameCube,Android,Game Boy,PS Vita,NES,PlayStation 4,Xbox One,Misc_Platform
0,2002,Role-Playing,0.49,0.38,0.26,0.13,1.27,8.5,35,18,...,0,0,0,0,0,0,0,0,0,0
1,2002,Role-Playing,0.23,0.18,0.20,0.06,0.68,8.9,18,29,...,0,0,0,0,0,0,0,0,0,0
2,2002,Role-Playing,0.14,0.11,0.17,0.04,0.46,8.7,17,20,...,0,0,0,0,0,0,0,0,0,0
3,2000,Action,0.51,0.35,0.00,0.06,0.92,6.7,97,9,...,1,1,0,0,0,0,0,0,0,0
4,2008,Misc,0.08,0.00,0.00,0.01,0.08,3.2,1,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
for ind in df_with_rawg_for_train.index:
    genres = df_with_rawg_for_train.loc[ind, "genres"]
    
    if len(genres) == 0:
        genre_og = df_with_rawg_for_train.loc[ind, "Genre"]
        genre_rawg = ''
        if genre_og == "Role-Playing":
            genre_rawg = "RPG"
        elif genre_og == "Platform":
            genre_rawg = "Platformer"
        elif genre_og == "Misc":
            genre_rawg = "Misc_Genre"
        else:
            genre_rawg = genre_og
        
        df_with_rawg_for_train.loc[ind, genre_rawg] = 1
        
    else:
        for genre in genres:
            df_with_rawg_for_train.loc[ind, genre["name"]] = 1

In [38]:
df_with_rawg_for_train.loc[:10, 'Adventure':'Indie']

,Adventure,Puzzle,Educational,Family,Platformer,Racing,Casual,RPG,Shooter,Arcade,Fighting,Card,Massively Multiplayer,Misc_Genre,Strategy,Sports,Board Games,Simulation,Action,Indie
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [39]:
df_with_rawg_for_train = df_with_rawg_for_train.drop(columns=["Genre", "genres", "description_raw", "platforms"])
df_with_rawg_for_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3802 entries, 0 to 3801
Data columns (total 65 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year_of_Release        3802 non-null   int64
 1   NA_Sales               3802 non-null   float64
 2   EU_Sales               3802 non-null   float64
 3   JP_Sales               3802 non-null   float64
 4   Other_Sales            3802 non-null   float64
 5   Global_Sales           3802 non-null   float64
 6   User_Score             3802 non-null   float64
 7   added                  3802 non-null   int64
 8   screenshots_count      3802 non-null   int64
 9   achievements_count     3802 non-null   int64
 10  reddit_count           3802 non-null   int64
 11  twitch_count           3802 non-null   int64
 12  youtube_count          3802 non-null   int64
 13  ratings_count          3802 non-null   int64
 14  suggestions_count      3802 non-null   int64
 15  additions_count        3802 non-null   int64
 16  game_series_count      3802 non-null   int64
 17  reviews_count          3802 non-null   int64
 18  platforms              3802 non-null   object
 19  Adventure              3802 non-null   int64
 20  Puzzle                 3802 non-null   int64
 21  Educational            3802 non-null   int64
 22  Family                 3802 non-null   int64
 23  Platformer             3802 non-null   int64
 24  Racing                 3802 non-null   int64
 25  Casual                 3802 non-null   int64
 26  RPG                    3802 non-null   int64
 27  Shooter                3802 non-null   int64
 28  Arcade                 3802 non-null   int64
 29  Fighting               3802 non-null   int64
 30  Card                   3802 non-null   int64
 31  Massively Multiplayer  3802 non-null   int64
 32  Misc_Genre             3802 non-null   int64
 33  Strategy               3802 non-null   int64
 34  Sports                 3802 non-null   int64
 35  Board Games            3802 non-null   int64
 36  Simulation             3802 non-null   int64
 37  Action                 3802 non-null   int64
 38  Indie                  3802 non-null   int64
 39  Xbox 360               3802 non-null   int64
 40  Wii                    3802 non-null   int64
 41  Nintendo DS            3802 non-null   int64
 42  Xbox                   3802 non-null   int64
 43  PlayStation 3          3802 non-null   int64
 44  Nintendo 3DS           3802 non-null   int64
 45  Game Boy Color         3802 non-null   int64
 46  PlayStation 5          3802 non-null   int64
 47  iOS                    3802 non-null   int64
 48  PlayStation 2          3802 non-null   int64
 49  Nintendo Switch        3802 non-null   int64
 50  Wii U                  3802 non-null   int64
 51  Xbox Series S/X        3802 non-null   int64
 52  Game Boy Advance       3802 non-null   int64
 53  Nintendo 64            3802 non-null   int64
 54  PSP                    3802 non-null   int64
 55  PlayStation            3802 non-null   int64
 56  PC                     3802 non-null   int64
 57  GameCube               3802 non-null   int64
 58  Android                3802 non-null   int64
 59  Game Boy               3802 non-null   int64
 60  PS Vita                3802 non-null   int64
 61  NES                    3802 non-null   int64
 62  PlayStation 4          3802 non-null   int64
 63  Xbox One               3802 non-null   int64
 64  Misc_Platform          3802 non-null   int64
dtypes: float64(6), int64(58), object(1)
memory usage: 2.0+ MB

In [43]:
df_with_rawg_for_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3802 entries, 0 to 3801
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year_of_Release        3802 non-null   int64
 1   NA_Sales               3802 non-null   float64
 2   EU_Sales               3802 non-null   float64
 3   JP_Sales               3802 non-null   float64
 4   Other_Sales            3802 non-null   float64
 5   Global_Sales           3802 non-null   float64
 6   User_Score             3802 non-null   float64
 7   added                  3802 non-null   int64
 8   screenshots_count      3802 non-null   int64
 9   achievements_count     3802 non-null   int64
 10  reddit_count           3802 non-null   int64
 11  twitch_count           3802 non-null   int64
 12  youtube_count          3802 non-null   int64
 13  ratings_count          3802 non-null   int64
 14  suggestions_count      3802 non-null   int64
 15  additions_count        3802 non-null   int64
 16  game_series_count      3802 non-null   int64
 17  reviews_count          3802 non-null   int64
 18  Adventure              3802 non-null   int64
 19  Puzzle                 3802 non-null   int64
 20  Educational            3802 non-null   int64
 21  Family                 3802 non-null   int64
 22  Platformer             3802 non-null   int64
 23  Racing                 3802 non-null   int64
 24  Casual                 3802 non-null   int64
 25  RPG                    3802 non-null   int64
 26  Shooter                3802 non-null   int64
 27  Arcade                 3802 non-null   int64
 28  Fighting               3802 non-null   int64
 29  Card                   3802 non-null   int64
 30  Massively Multiplayer  3802 non-null   int64
 31  Misc_Genre             3802 non-null   int64
 32  Strategy               3802 non-null   int64
 33  Sports                 3802 non-null   int64
 34  Board Games            3802 non-null   int64
 35  Simulation             3802 non-null   int64
 36  Action                 3802 non-null   int64
 37  Indie                  3802 non-null   int64
 38  Xbox 360               3802 non-null   int64
 39  Wii                    3802 non-null   int64
 40  Nintendo DS            3802 non-null   int64
 41  Xbox                   3802 non-null   int64
 42  PlayStation 3          3802 non-null   int64
 43  Nintendo 3DS           3802 non-null   int64
 44  Game Boy Color         3802 non-null   int64
 45  PlayStation 5          3802 non-null   int64
 46  iOS                    3802 non-null   int64
 47  PlayStation 2          3802 non-null   int64
 48  Nintendo Switch        3802 non-null   int64
 49  Wii U                  3802 non-null   int64
 50  Xbox Series S/X        3802 non-null   int64
 51  Game Boy Advance       3802 non-null   int64
 52  Nintendo 64            3802 non-null   int64
 53  PSP                    3802 non-null   int64
 54  PlayStation            3802 non-null   int64
 55  PC                     3802 non-null   int64
 56  GameCube               3802 non-null   int64
 57  Android                3802 non-null   int64
 58  Game Boy               3802 non-null   int64
 59  PS Vita                3802 non-null   int64
 60  NES                    3802 non-null   int64
 61  PlayStation 4          3802 non-null   int64
 62  Xbox One               3802 non-null   int64
 63  Misc_Platform          3802 non-null   int64
dtypes: float64(6), int64(58)
memory usage: 2.0 MB

In [44]:
df_with_rawg_for_train.to_json('./content/video_games_newer_all_data_with_rawg_final_for_train.json')

In [36]:
import pandas as pd

df_with_rawg = pd.read_json('./content/video_games_newer_all_data_with_rawg_filtered.json')

df_with_rawg_for_train = df_with_rawg.drop(columns=[ "Name", "name", "name_original", "index", "slug-nas", "id", "slug", "metacritic_platforms", 
                                                    "released", "tba", "updated", "website", "rating", "rating_top", "ratings",
                                                    "playtime", "movies_count", "creators_count", "parent_achievements_count", "reddit_url",
                                                    "reddit_name", "reddit_description", "reddit_logo", "reviews_text_count",
                                                    "alternative_names", "metacritic_url", "parents_count", "saturated_color",
                                                    "dominant_color", "parent_platforms", "stores", "Platform", "Publisher", "publishers",
                                                   "Developer", "developers", "tags", "added_by_status", "description", "description_raw", "genres"])
df_with_rawg_for_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3802 entries, 0 to 3801
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year_of_Release     3802 non-null   int64
 1   Genre               3802 non-null   object
 2   NA_Sales            3802 non-null   float64
 3   EU_Sales            3802 non-null   float64
 4   JP_Sales            3802 non-null   float64
 5   Other_Sales         3802 non-null   float64
 6   Global_Sales        3802 non-null   float64
 7   User_Score          3802 non-null   float64
 8   added               3802 non-null   int64
 9   screenshots_count   3802 non-null   int64
 10  achievements_count  3802 non-null   int64
 11  reddit_count        3802 non-null   int64
 12  twitch_count        3802 non-null   int64
 13  youtube_count       3802 non-null   int64
 14  ratings_count       3802 non-null   int64
 15  suggestions_count   3802 non-null   int64
 16  additions_count     3802 non-null   int64
 17  game_series_count   3802 non-null   int64
 18  reviews_count       3802 non-null   int64
 19  platforms           3802 non-null   object
dtypes: float64(6), int64(12), object(2)
memory usage: 623.8+ KB

In [37]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# df_with_rawg_for_train['Genre'] = le.fit_transform(df_with_rawg_for_train['Genre'])
# print(df_with_rawg_for_train['Genre'].unique())

genre_dict = {'Action': 12, 'Sports':11, 'Shooter':10, 'Role-Playing': 9, 'Platform': 8, 'Misc': 7, 'Racing': 6, 'Fighting': 5, 'Simulation': 4, 'Puzzle': 3, 'Adventure': 2, 'Strategy': 1}
df_with_rawg_for_train['Genre'] = df_with_rawg_for_train['Genre'].apply(lambda x: genre_dict[x])
print(df_with_rawg_for_train['Genre'].unique())

[ 9 12  7  2  4  6 11 10  3  8  1  5]

In [38]:
df_with_rawg_for_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3802 entries, 0 to 3801
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year_of_Release     3802 non-null   int64
 1   Genre               3802 non-null   int64
 2   NA_Sales            3802 non-null   float64
 3   EU_Sales            3802 non-null   float64
 4   JP_Sales            3802 non-null   float64
 5   Other_Sales         3802 non-null   float64
 6   Global_Sales        3802 non-null   float64
 7   User_Score          3802 non-null   float64
 8   added               3802 non-null   int64
 9   screenshots_count   3802 non-null   int64
 10  achievements_count  3802 non-null   int64
 11  reddit_count        3802 non-null   int64
 12  twitch_count        3802 non-null   int64
 13  youtube_count       3802 non-null   int64
 14  ratings_count       3802 non-null   int64
 15  suggestions_count   3802 non-null   int64
 16  additions_count     3802 non-null   int64
 17  game_series_count   3802 non-null   int64
 18  reviews_count       3802 non-null   int64
 19  platforms           3802 non-null   object
dtypes: float64(6), int64(13), object(1)
memory usage: 623.8+ KB

In [39]:
for ind in df_with_rawg_for_train.index:
    platforms = df_with_rawg_for_train.loc[ind, "platforms"]
    df_with_rawg_for_train.loc[ind, "platform_count"] = len(platforms) 

df_with_rawg_for_train.head(5)

,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,User_Score,added,screenshots_count,...,reddit_count,twitch_count,youtube_count,ratings_count,suggestions_count,additions_count,game_series_count,reviews_count,platforms,platform_count
0,2002,9,0.49,0.38,0.26,0.13,1.27,8.5,35,18,...,0,0,0,12,547,0,8,12,"[{'platform': {'id': 15, 'name': 'PlayStation ...",1.0
1,2002,9,0.23,0.18,0.20,0.06,0.68,8.9,18,29,...,0,0,0,4,446,0,8,4,"[{'platform': {'id': 15, 'name': 'PlayStation ...",1.0
2,2002,9,0.14,0.11,0.17,0.04,0.46,8.7,17,20,...,0,0,0,4,529,0,8,4,"[{'platform': {'id': 15, 'name': 'PlayStation ...",1.0
3,2000,12,0.51,0.35,0.00,0.06,0.92,6.7,97,9,...,0,0,0,33,361,0,22,33,"[{'platform': {'id': 15, 'name': 'PlayStation ...",4.0
4,2008,7,0.08,0.00,0.00,0.01,0.08,3.2,1,0,...,0,0,0,0,0,0,0,0,"[{'platform': {'id': 9, 'name': 'Nintendo DS',...",1.0

In [40]:
df_with_rawg_for_train = df_with_rawg_for_train.drop(columns=['platforms'])

In [41]:
df_with_rawg_for_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3802 entries, 0 to 3801
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year_of_Release     3802 non-null   int64
 1   Genre               3802 non-null   int64
 2   NA_Sales            3802 non-null   float64
 3   EU_Sales            3802 non-null   float64
 4   JP_Sales            3802 non-null   float64
 5   Other_Sales         3802 non-null   float64
 6   Global_Sales        3802 non-null   float64
 7   User_Score          3802 non-null   float64
 8   added               3802 non-null   int64
 9   screenshots_count   3802 non-null   int64
 10  achievements_count  3802 non-null   int64
 11  reddit_count        3802 non-null   int64
 12  twitch_count        3802 non-null   int64
 13  youtube_count       3802 non-null   int64
 14  ratings_count       3802 non-null   int64
 15  suggestions_count   3802 non-null   int64
 16  additions_count     3802 non-null   int64
 17  game_series_count   3802 non-null   int64
 18  reviews_count       3802 non-null   int64
 19  platform_count      3802 non-null   float64
dtypes: float64(7), int64(13)
memory usage: 752.8 KB

In [9]:
# PLATFORMS
list_of_platforms = ['Xbox 360', 'Wii', 'Nintendo DS', 'Xbox', 'PlayStation 3', 'Nintendo 3DS', 
                     'Game Boy Color', 'PlayStation 5', 'iOS', 'PlayStation 2', 'Nintendo Switch',
                     'Wii U', 'Xbox Series S/X', 'Game Boy Advance', 'Nintendo 64', 'PSP', 'PlayStation',
                     'PC', 'GameCube', 'Android', 'Game Boy','PS Vita', 'NES', 'PlayStation 4', 'Xbox One', 'Misc_Platform'
                    ]

plat_dict = {}

for plat in list_of_platforms:
    plat_dict[plat] = 0

for ind in df_with_rawg_for_train.index:
    platforms = df_with_rawg_for_train.loc[ind, "platforms"]
    
    for plat in platforms:
        if plat["platform"]["name"] in list_of_platforms:
            plat_dict[plat["platform"]["name"]] += 1
        else:
            plat_dict["Misc_Platform"] += 1

print(dict(sorted(plat_dict.items(), key=lambda item: -item[1])))

{'PC': 1434, 'PlayStation 3': 944, 'PlayStation 2': 919, 'Xbox 360': 857, 'Wii': 545, 'Nintendo DS': 530, 'Misc_Platform': 495, 'Xbox': 455, 'Xbox One': 392, 'PlayStation 4': 385, 'GameCube': 376, 'PSP': 364, 'Game Boy Advance': 278, 'PS Vita': 235, 'Wii U': 195, 'Nintendo 3DS': 193, 'PlayStation': 161, 'iOS': 153, 'Nintendo Switch': 128, 'Android': 104, 'Game Boy Color': 26, 'Nintendo 64': 16, 'PlayStation 5': 15, 'Xbox Series S/X': 12, 'Game Boy': 9, 'NES': 6}